
.fullScreenForm {
    height: 100vh;
}

.fullWidthButton {
    width: 100%;
    border-radius: 0%;
}

.formLoginContainer {
    height: 100vh;
    background-color: #343a40;
}

.customFormLogin {
    border-radius: 4%;
    padding: 30px;
    background-color: #ffffff;
}

.formSignUpContainer {
    height: 100vh;
}

.customFormSignUp {
    border-radius: 4%;
    padding: 30px;
    background-color: #ffffff;
}