.logOutButton {
    cursor: pointer;
    color: #ffffff;
}

.sidebarContainer {
    padding-left: 0px!important;
}

.sidebar {
    background-color: #212529;
    min-height: 100vh;
}

.sidebarList {
    padding-inline-start: 0px!important;
}

.active {
    background-color: #5a5a5a;
}

.sideBarItem {
    color: #cccccc;
    list-style: none;
    padding: 16px;
    width: 100%;
}

.sideBarItem:hover {
    background-color: #5a5a5a;
}

.navLink {
    color: #ffffff!important;
    margin-left: 16px;
}

.logOutButtonContainer {
    position: absolute;
    bottom: 10px;
    padding-left: 16px;
}

.logOutButton {
    cursor: pointer;
    color: #ffffff!important;
    margin-left: 16px;
}
